body.login{
  background-color: #b4dbec;
  position: relative;
}

  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .h-custom {
    height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
  @media(max-width: 1024px) and (min-width: 1023px){
    .login-limg{
      display: block !important;
    }
  }
  @media(min-width: 1025px){
    body.login:after {
      background-image: url(../img/user-login-bg.jpg);
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
      z-index: -1;
    }
  }
  body.home {
background-color: #fbfbfb;
}
/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 58px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
background-color: #b5dced;
}
.list-group-item{
  background-color: transparent;
}
@media (max-width: 991.98px) {
.sidebar {
  width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
i.flag:before {
    background-position-y: -702px !important;
}
.custom-control-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem;
}
.custom-control-input{
  margin-right: 5px;
}
